<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Simple Site</h1>
    <% if (user) { %>
      <p>Hello, <%= user.name %>!</p>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </div>
</body>
</html>